body {
  margin: 20px;
}

body, table {
  font: 12px courier;
}

a {
  color: #49f;
}

a:hover {
  color: #9cf;
}

th {
  text-align: left;
  padding-right: 20px;
}

td {
  vertical-align: top;
  padding-right: 20px;
}

.tree {
  width: 10em;
}
