body {
  margin: 20px;
}

body, table {
  font: 14px courier;
}

p {
  line-height: 1.7em;
}

a {
  color: #49f;
}

a:hover {
  color: #9cf;
}

table {
  border-spacing: 0;
}

tr:nth-child(even) {
  background: #eee;
  border-radius: 2px;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
}

th, td {
  padding: 5px 3em 5px 5px;
}

code {
  background: #eee;
  padding: 0 3px;
  border-radius: 2px;
}

pre code {
  display: inline-block;
  white-space: pre-wrap;
  width: 90%;
  padding: 10px;
}​

.tree {
  width: 10em;
}
